.outer-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/contact-us/heroback-contact.svg);
}

.outer-section-get, .outer-section-partner,
.inner-section-partner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-section, .inner-section-get{
  width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-hero-outer{
  width: 100%;
  margin-top: 15vh;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.contact-hero-heading{
  width: 400px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.30);
}

.contact-hero-h4{
  font-size: 45px !important;
  color: #ffff;
  font-weight: 700;
}

.contact-hero-image{
  width: 460px;
  height: 480px;
}

.contact-hero-span{
  color: var(--prim-color);
}

.contact-get-in-touch{
  margin-top: 10vh;
}

.contact-getin-h2{
  text-align: center;
  color: var(--prim-color);
  font-weight: 700;
}

.contact-getin-span{
  color: rgba(23, 107, 135, 0.83);
}

.contact-getin-card-outer{
  margin-top: 10vh;
  width: 1240px;
  display: flex;
  justify-content: space-between !important;
}

.getin-card{
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.getin-card-h4{
  font-weight: 700;
}

.gitin-card-up{
  display: flex;
  justify-content: center;
  align-items: center;
}

.getin-icons{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.getin-link{
  display: block;
  padding-top: 10px;
  text-decoration: none;
  color: #000000;
}

.outer-section-partner{
  margin-top: 10vh;
  background-color: var(--background-l-sec);
}

.inner-section-partner{
  width: 1240px;
  justify-content: space-between;
}

.contact-us-partner{
  width: 100%;
  padding: 10vh 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-partner-h3{
  font-size: 45px !important;
  font-weight: 700;
  margin-bottom: 50px;
  color: var(--sec-l-color);
}

@media screen and (max-width:1200px){
    
  .inner-section{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .contact-get-in-touch{
    width: 100%;
  }

  .contact-getin-card-outer{
    width: 100%;
  }

  .getin-card{
    width: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width:920px) {

  .contact-hero-outer{
    flex-direction: column;
  }

  .contact-hero-image-outer{
    margin-top: 10vh;
  }

  .contact-us-partner{
    flex-direction: column-reverse;
  }

  .contact-partner-image-outer{
    width: 90%;
  }

  .contact-partner-image{
    width: 100%;
    height: 100%;
  }

  .contact-partner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-partner-h3{
    text-align: center;
  }

  .contact-get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-getin-card-outer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .getin-card{
    width: 195px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

}

@media screen and (max-width:480px) {
  .contact-hero-image-outer{
    width: 90%;
  }

  .contact-hero-image{
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width:370px) {
  .contact-hero-heading{
    width: 90%;
  }
}