@import './base.css';

.underlay{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 49;
    background-color: var(--text-m);
}

.wrapper{
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    width: 50vw;
    padding: 24px;
    align-items: center;
    box-shadow: var(--card-shadow);
    border-radius: 16px;
    position: relative;
}

.cancel--btn{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: unset;
    border: none;
    max-width: 32px;
}
.cancel--btn img{
    max-width: 100%;
    height: auto;
}

.wrapper h5{
    color:var(--sec-color);
}

.contacts--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.divider{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    width: 100%;
}


.divider hr{
    border-color: var(--text-m);
    flex: auto;

}

.divider small{
    color: var(--text-m);
}
.other--contacts{
    width:100%;
}

.footer-add-links{
    color: var(--text) !important;
}

@media screen and (min-width:1440px) {
    .wrapper{
        width: 30vw;
    }   
}

@media screen and (max-width:640px) {
    .wrapper{
        width: calc(100% - 10vw);
    }   

    .cont--img{
        width:32px;
        height:auto;
    }
}