.fabocast-parent{
border-style: box;
margin: 0;
border: 0;
padding: 0;
}

.fabocast-header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fabocast-part1{
    background: linear-gradient(136.37deg, #1C1C1C 11%, rgba(7, 23, 29, 0.87) 38.54%, rgba(7, 40, 51, 0.85) 65.28%, rgba(23, 107, 135, 0.81) 90.82%);

}