@import './home-whyus.css';

::-webkit-scrollbar{
    display: none;
} 

.hero-sec{
    background: linear-gradient(136.37deg, #1C1C1C 11%, rgba(7, 23, 29, 0.87) 38.54%, rgba(7, 40, 51, 0.85) 65.28%, rgba(23, 107, 135, 0.81) 90.82%);
    min-height: 120vh;
    position:relative;
    overflow:hidden;
}
.hero-sec .content{
    background: linear-gradient(242.93deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.04) 97.08%);
    border-radius:49px;
    padding:40px;
    position:relative;
    z-index:5;
    backdrop-filter: blur(15px);

}

.hero-sec .main-header{
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(99.64deg, #F1F52E 0.53%, #32FFE6 59.62%);

    margin-bottom:32px;

}

.hero-sec .sub-header{
    background-clip: text;
    color: transparent;
    background-image: radial-gradient(92.18% 99.11% at 26.56% 107.7%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);
    margin-bottom:16px;
}

 .hero-sec .body-text{
    background-clip: text;
    color:white;
    margin-bottom:16px;
}

.hero-sec .body-text .highligh{
    color:var(--prim-color);
}

.hero-sec .cta-btn{
    text-transform:capitalize;
}

.arrow{
    fill:black !important;
}

.mission{
    width:860px;
    margin:10px 0px;
}
.section-title{
    margin-bottom: 52px;
}

.why-us{
    background: linear-gradient(136.37deg, #1C1C1C 11%, rgba(7, 23, 29, 0.87) 38.54%, rgba(7, 40, 51, 0.85) 65.28%, rgba(23, 107, 135, 0.81) 90.82%);

}
.slider-home-outer{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.why-us .main-header{
    color:var(--card-bg);
}
.whyus-sec{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:24px;


}
.service-slider{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:24px;
}
.whyus-sec .main-header{
    color:var(--text-h);

}

.service-card{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
  }

@media screen and (max-width:640px) {
    
    .slider-home-outer{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap:nowrap;
        overflow-x: auto;
        white-space: nowrap;
    }

    .service-card{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap:nowrap;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    .whyus-sec, .service-slider{
        display: flex;
        flex-wrap:nowrap;
        justify-content: flex-start;
        align-items: stretch;
        gap:32px;
        padding-bottom: 50px;


    }
 
    .slider-home-outer::-webkit-scrollbar-track, .service-card::-webkit-scrollbar-track {
        background-color: #f1f1f1 !important; 
      }
      
    
      .slider-home-outer::-webkit-scrollbar-thumb, .service-card::-webkit-scrollbar-thumb {
        background-color: var( --prim-color) !important; 
        border-radius: 5px !important; 
      }
      
}

.card-main-wrapper:nth-child(-1){
    grid-column: 2/span 2;
}

.form-sec{
    background-color: var(--sec-bg);
}

@media screen and (min-width:2200px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .servi-sec{
        grid-template-columns:repeat(3, 1fr);
    }
}

@media screen and (min-width:1401px) and (max-width:2199px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:820px) and (max-width:1200px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr ;
    }
    
}

@media screen and (max-width:819px) {
    .whyus-sec, .servi-sec{
        grid-template-columns: 1fr ;
    }
}

@media screen and (max-width:640px) {
    .whyus-sec{
        grid-template-columns: repeat(5 , 90%) ;
        overflow-x: auto;
        
    }
    .servi-sec{
        grid-template-columns: repeat(6 , 90%) ;
        overflow-x: auto;
    }
}