@import './home-whyus.css';

::-webkit-scrollbar{
    display: none;
}

.hero-sec{
    background-color:#000;
    height: 100vh;
}

.hero-sec .main-header{
    color:var(--text-w-h);
}

.hero-sec .sub-header, .hero-sec .body-text{
    color:var(--text-w-m);
}

.section-title{
    margin-bottom: 52px;
}
.whyus-sec{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap:24px;
}

.servi-sec{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:24px;
}

.card-main-wrapper:nth-child(-1){
    grid-column: 2/span 2;
}

.form-sec{
    background-color: var(--sec-bg);
}

@media screen and (min-width:2200px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .servi-sec{
        grid-template-columns:repeat(3, 1fr);
    }
}

@media screen and (min-width:1401px) and (max-width:2199px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:820px) and (max-width:1200px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr ;
    }
    
}

@media screen and (max-width:819px) {
    .whyus-sec, .servi-sec{
        grid-template-columns: 1fr ;
    }
}
