@import './home-whyus.css';

::-webkit-scrollbar{
    display: none;
}

.section-title{
    margin-bottom: 52px;
}
.whyus-sec{
    display: grid;
<<<<<<< refs/remotes/origin/emmanuel
    grid-template-columns: 1fr 1fr 1fr;
=======
    grid-template-columns: repeat(3, 1fr);
>>>>>>> local
    gap:24px;
}

.servi-sec{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:24px;
}

.card-main-wrapper:nth-child(-1){
    grid-column: 2/span 2;
}

.form-sec{
    background-color: var(--sec-bg);
}

@media screen and (min-width:2200px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .servi-sec{
        grid-template-columns:repeat(3, 1fr);
    }
}

@media screen and (min-width:1401px) and (max-width:2199px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:820px) and (max-width:1200px) {
    .whyus-sec{
        grid-template-columns: 1fr 1fr ;
    }
    
}

@media screen and (max-width:819px) {
    .whyus-sec, .servi-sec{
        grid-template-columns: 1fr ;
    }
}

@media screen and (max-width:640px) {
    .whyus-sec{
        grid-template-columns: repeat(5 , 90%) ;
        overflow-x: auto;
        
    }
    .servi-sec{
        grid-template-columns: repeat(6 , 90%) ;
        overflow-x: auto;
    }
}