@import './base.css';

:root{
    --icon-light: rgba(255,255,255,1);
    --icon-dark: rgba(235,235,235,1);

    --icon:var(--icon-light);
}

@media(prefers-color-scheme:dark){
    
    :root{
        --icon:var(--icon-dark);
    }
}


*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-main-wrapper{
    width: 350px;
    height: calc(100% - 16px);
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap:16px;
    background-color:var(--card-bg);
    border-radius: 16px;
    position: relative;
    padding: 24px;
    box-shadow: var(--card-shadow);
    margin-top: 16px;
}

.card-main-wrapper::before{
    content:'';
    height:50%;
    width: 99.85%;
    background-color: var(--sec-color);
    border-radius: 16px 16px 0 0;
    position: absolute;
    top:-8px;
    left: 0.5px;
    z-index: -1;
}

.card-title{
    display: flex;
    gap:16px;
    align-items: center;
}

.icon-wrapper{
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--icon);
    box-shadow: 0 2px 4px 0 rgba(0,0, 0, 0.1);
}

.icon-wrapper svg{
    fill: var(--sec-color);
}

.card-title span{
    display: flex;
    flex-direction: column;
    gap:0;
    justify-content: left;
}

@media screen and (max-width:640px) {
    .card-main-wrapper{
        padding: 16px;
        margin-top: 16px;
    }
}