@import './base.css';

svg {
  fill: none !important;
}

.navigation-container{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(23, 107, 135, 0.19) 0%, rgba(23, 107, 135, 0) 100%),
  linear-gradient(257.05deg, rgba(0, 0, 0, 0.19) 1.72%, rgba(0, 0, 0, 0) 99.1%);
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding:34px, 65px, 34px, 65px;
  
}

.navbar {
  border: 5px solid #FFFFFF33 ;
  width: 100% !important;
  display: flex;
  background-color: #FFFFFF33;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  top: 20px;
  height: 80px;
  padding: 12px, 26px, 12px, 24px;
  border-radius: 12px;
  gap: 98px;
}
.navbar.scrolled {
    background-color:#202E33;
    transition: background-color 0.5s ease-in-out;

}
.nav-links{
  width: 50%;
}

.nav-links-ul{
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  text-decoration: none !important;
}

.nav-li-links{
  text-decoration: none !important;
  color: #ffff;
  position: relative;
}

.nav-li-links::before{
  content: '';
  position: absolute;
  top:calc(100% + 4px);
  left: 0;
  width: 0%;
  height:2px;
  border-radius: 0 0 3px ;
  z-index: 70;
  background-color: var(--prim-color);
  transition: all 0.25s;
}

.nav-li-links:hover::before{
  width: 80%;
  transition: all 0.25s;
}

.mobile-bar{
  display: none;
}

#active{
  position: relative;
  color: var(--prim-color);
}

#active::before{
  content: '';
  position: absolute;
  top:calc(100% + 4px);
  left: 0;
  width: 80%;
  height:2px;
  border-radius: 0 0 3px ;
  z-index: 70;
  background-color: var(--prim-color);
}


.nav-btn-outer{
  display: flex;
  gap: 10px;
}
/*************************** Mobile Nav ********************************/

.mobile-bar-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.mobile-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.hamburger-menu {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  background-color: #fff; 
}

.close-icon, .ham-icon{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mobile-nav-logo-outer{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc; 
}

.mobile-nav-ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.mobile-nav-li {
  padding: 10px 0;
  padding-left: 40px;
  border-bottom: 1px solid #ccc; 
}

.mobile-nav-li:last-child {
  margin-top: 20px;
  border-bottom: none; 
}

.mobile-nav-link {
  display: block;
  padding: 10px;
  color: #333; 
  text-decoration: none;
}


/*************************** Mobile Nav End ********************************/



/************************** Responsiveness *****************************/



@media screen and (max-width: 1200px){
  
  .nav-links{
    display: none;
  }

  .mobile-bar{
    display: block;
  }

  .nav-btn-outer{
    display: none;
    
  }


}
@media screen  and (max-width: 970px){
  
  .nav-links{
    display: none;
  }

  .mobile-bar{
    display: block;
  }

  .nav-btn-outer{
    display: none;
    
  }

}



/************************** Responsiveness End *****************************/
