@import './base.css';
.card-wrapper{
    padding: 24px;
    padding-left: 48px;
    min-width:480px;
    background-color: var(--card-bg);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-bottom:32px;
    position: relative;
    box-shadow: var(--card-shadow);
}

.card-wrapper .main-header{
    color: var(--sec-color);
    margin-left:24px;
}
.icon{
    width: 75px;
    height: 75px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    left: -24px;
}

.icon img{
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width:640px){
    .card-wrapper{
        padding: 16px;
        padding-top: 48px;
        padding-left: 24px;
        margin-left: 0;
        margin-top: 24px;
        min-width:280px;
    }
    .icon{
        height:50px;
        width:50px;
    }
}