@import './base.css';

  
   .service-card {
    padding: 52px 100px;
    width:100%;
  } 
  .service-card:nth-child(odd) {
    background-color: var(--sec-bg); 
  }

  .service--info{
    margin-bottom:32px;
    min-height:360px;
  }
  .service-image {
    width: 300px;
    height: 360px;
    border-radius: 30px;
  }

  .service--activities h4, .service-deliverables h4{
    font-weight:500;
  }

  .deliverables div{
    height:330px;
    width:266px;
    padding:16px 8px;

  }

  .deliverable-icon{
    width:75px;
    height:84px;
    margin-bottom:48px;
  }
  
  .deliverables p{
    font-weight:400;
    color:var(--text-b);
  }

  
  .key-activities span{
    font-weight:400;
    font-size:21px;
  }

  .service-key-icon{
    height:38px;
    width:38px;
    margin-right:24px;
  }
  
  
  @media screen and (max-width: 640px) {

    .service-card{
      padding:32px 16px;
    }

    .service-image {
      height: 168px;
      width:138px;
      border-radius:10px;
    }

    .deliverables{
      height:100px;
    }

    .deliverables div{
      width:315px;
      height:100px;
    }

    .deliverable-icon{
      height:48px;
      width:43px;
      margin-right:16px;
    }

    .service--activities h4{
      text-align:center;
    }

    .service-key-icon{
      height:24px;
      width:24px;
    }
  }
  
  
  
  