.container {
    position: fixed;
   bottom: 10%;
    left: 8px; /* Adjust this value to position the button according to your preference */
    transform: translateY(-50%);
    z-index: 999;
  }
  
  .cta-button {
    display: inline-block;
    
    padding: 12px 24px;
    background-color: #25d366; /* WhatsApp brand color */
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #128c7e; /* Darker shade of WhatsApp brand color on hover */
  }
  


  .whatsapp-logo {
    vertical-align: middle;
    margin-right: 8px; /* Add some space between the logo and text */
  }
  
  /* Media query for small screens */
  @media only screen and (max-width: 600px) {
    .container {
      left: 8px; /* Adjust the right position for smaller screens */
    }
    
    .cta-button {
      padding: 10px 20px; /* Decrease padding for smaller screens */
    }
    
    .whatsapp-logo {
      width: 20px; /* Decrease logo size for smaller screens */
      margin-right: 6px; /* Decrease margin for smaller screens */
    }
  }